services:
	referenced:
		factory: Tests\OriNette\DI\Doubles\TestService
		setup:
			- addParams('%%message%%')

	referencedClass: Tests\OriNette\DI\Doubles\AnotherTestService

	ctorArgument: stdClass

loader:
	definitions:
		string: Tests\OriNette\DI\Doubles\TestService
		statement: Tests\OriNette\DI\Doubles\TestService()
		reference: @referenced
		referenceClass: @Tests\OriNette\DI\Doubles\AnotherTestService
		array:
			factory: Tests\OriNette\DI\Doubles\TestService
			arguments:
				ctorArgument: @ctorArgument
			setup:
				- addParams('%%message%%')
		arrayWithAutowiringSet:
			factory: Tests\OriNette\DI\Doubles\TestService
			autowired: true
