# Stub file for IDE neon support
parameters:

	# BaseConfigurator parameters
	rootDir: ''
	appDir: %rootDir%/src
	buildDir: %rootDir%/var/build
	dataDir: %rootDir%/data
	logDir: %rootDir%/var/log
	tempDir: %rootDir%/var/cache
	vendorDir: %rootDir%/vendor
	wwwDir: %rootDir%/public
	debugMode: false
	consoleMode: false

	container:
		className: Container_<hash>
		compiledAt: 1970-01-01T00:00:00+00:00
		compiledAtTimestamp: 0
