parameters:
	ignoreErrors:
		-
			rawMessage: Access to constant on internal class Latte\Bridges\Tracy\BlueScreenPanel.
			identifier: classConstant.internalClass
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: '''
				Call to deprecated method setTempDirectory() of class Nette\Loaders\RobotLoader:
				use setCacheDirectory()
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: 'Call to static method escape() of internal class Nette\DI\Helpers from outside its root namespace Nette.'
			identifier: staticMethod.internalClass
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: 'Call to static method initialize() of internal class Latte\Bridges\Tracy\BlueScreenPanel from outside its root namespace Latte.'
			identifier: staticMethod.internalClass
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: 'Call to static method merge() of internal class Nette\Schema\Helpers from outside its root namespace Nette.'
			identifier: staticMethod.internalClass
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: '''
				Fetching deprecated class constant DEVELOPMENT of class Tracy\Debugger:
				use Debugger::Development
			'''
			identifier: classConstant.deprecated
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: '''
				Fetching deprecated class constant PRODUCTION of class Tracy\Debugger:
				use Debugger::Production
			'''
			identifier: classConstant.deprecated
			count: 1
			path: ../src/Boot/BaseConfigurator.php

		-
			rawMessage: 'Parameter #1 $type of method Nette\DI\ContainerBuilder::getByType() expects class-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Definitions/DefinitionsLoader.php

		-
			rawMessage: 'Parameter #1 $json of static method Nette\Utils\Json::decode() expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: ../tests/Doubles/JsonAdapter.php

		-
			rawMessage: '''
				Fetching deprecated class constant S302_FOUND of interface Nette\Http\IResponse:
				use IResponse::S302_Found
			'''
			identifier: classConstant.deprecated
			count: 1
			path: ../tests/Doubles/TestResponse.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Tests\\OriNette\\DI\\Doubles\\TestService'' and Tests\OriNette\DI\Doubles\TestService will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: ../tests/Unit/Boot/BaseConfiguratorTest.php

		-
			rawMessage: '''
				Fetching deprecated class constant DEVELOPMENT of class Tracy\Debugger:
				use Debugger::Development
			'''
			identifier: classConstant.deprecated
			count: 1
			path: ../tests/Unit/Boot/BaseConfiguratorTest.php

		-
			rawMessage: '''
				Fetching deprecated class constant PRODUCTION of class Tracy\Debugger:
				use Debugger::Production
			'''
			identifier: classConstant.deprecated
			count: 1
			path: ../tests/Unit/Boot/BaseConfiguratorTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Tests\\OriNette\\DI\\Doubles\\TestService'' and Tests\OriNette\DI\Doubles\TestService will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: ../tests/Unit/Boot/ManualConfiguratorTest.php

		-
			rawMessage: 'Call to function assert() with true will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 2
			path: ../tests/Unit/Definitions/DefinitionsLoaderTest.php

		-
			rawMessage: 'Call to internal method Nette\DI\Container::findAutowired() from outside its root namespace Nette.'
			identifier: method.internal
			count: 1
			path: ../tests/Unit/Definitions/DefinitionsLoaderTest.php

		-
			rawMessage: Instanceof between Tests\OriNette\DI\Doubles\TestService and Tests\OriNette\DI\Doubles\TestService will always evaluate to true.
			identifier: instanceof.alwaysTrue
			count: 2
			path: ../tests/Unit/Definitions/DefinitionsLoaderTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertNotNull() with Orisai\Exceptions\Logic\InvalidArgument will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: ../tests/Unit/Services/ServiceManagerTest.php
