includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# ReflectionClass->getFileName() returns false only for internal classes
		- message: '#^Parameter \#1 \$filename of function filemtime expects string, string\|false given\.$#'
		  path: ../src/Boot/BaseConfigurator.php
		  count: 1
