includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	scanDirectories:
		- ../src

	ignoreErrors:
		- '#^Call to deprecated method isEnvDebugMode\(\) of class OriNette\\DI\\Boot\\Environment(.+)#'

		# Method return value may change, don't care enough to search for fix
		- "#^Offset 'Set-Cookie' does not exist on array\\{\\}\\.$#"
