includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# ReflectionClass->getFileName() returns false only for internal classes
		- message: '#^Parameter \#1 \$filename of function filemtime expects string, string\|false given\.$#'
		  path: ../src/Boot/BaseConfigurator.php
		  count: 1

		# compatibility
		- '#^Fetching deprecated class constant SELF of class Nette\\DI\\Definitions\\Reference(.+)#'
		- '#^Fetching deprecated class constant (FORCE\_ARRAY|PRETTY) of class Nette\\Utils\\Json(.+)#'
