includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	scanDirectories:
		- ../src

	ignoreErrors:
		# Ignore deprecations
		- '#^Call to deprecated method isEnvDebugMode\(\) of class OriNette\\DI\\Boot\\Environment(.+)#'
		- '#^Fetching deprecated class constant FORCE\_ARRAY of class Nette\\Utils\\Json(.+)#'

		# Dynamically declared constants
		- message: '#^Constant (.+) not found(.+)#'
		  path: ../tests/Unit/Boot/Extensions/ConstantsExtensionTest.php
